name: Build project
on:
  push:
    branches: [master]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Validate
        uses: pre-commit/action@v3.0.0

      - name: Install dependencies
        run: npm ci

      - name: Run lint and build
        run: |
          npm run lint
          npm run format:check
          npm run build

      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
